[submodule "lib/Liquidity-Distributions-Lab"]
	path = lib/Liquidity-Distributions-Lab
	url = https://github.com/JMSBPP/Liquidity-Distributions-Lab
[submodule "lib/panoptic-v1-core"]
	path = lib/panoptic-v1-core
	url = https://github.com/panoptic-labs/panoptic-v1-core
[submodule "lib/Compose"]
	path = lib/Compose
	url = https://github.com/Perfect-Abstractions/Compose
[submodule "lib/solady"]
	path = lib/solady
	url = https://github.com/Vectorized/solady
[submodule "lib/mento-core"]
	path = lib/mento-core
	url = https://github.com/mento-protocol/mento-core
[submodule "lib/foundational-hooks"]
	path = lib/foundational-hooks
	url = https://github.com/uniswapFoundation/foundational-hooks
[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
